
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.backgorund {   

    width: 100%;
    height: 100vh;
    background-image: url('../img/event.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-around;
}
.backgorund .texts {       
    width: 95%;
    height: 60%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 2;
    text-align: center;
}
.backgorund .texts #first {
    color: #004d4d/*#efa506*/;
    font-size: 4em;
    font-weight: 600;
}
.backgorund .texts #second {
    font-size: 4.1em;
    font-weight: 700;
}
.backgorund .texts div {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.backgorund .texts div #third {
    font-size: 2em;
    font-weight: 300;
}
.backgorund .texts div #fourth {
    font-size: 2em;
    font-weight: 300;
}

.backgorund .texts .btn-buy-back {
	color: white;
	background: #FD9E24/*rgba(236,57,139,1)*/;
	max-height: 80px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
	transition: 0.5s;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-size: 19px;
    box-shadow: 0 8px 5px -6px black;
    transition: .5s;
}
.backgorund .texts .btn-buy-back:hover  {
    border-radius: 15px;
    box-shadow: none;
}

@media screen and (max-width: 992px){
    .backgorund .texts #first {
        font-size: 3em;
    }
    .backgorund .texts #second {
        font-size: 5em;
    }
    .backgorund .texts div #third {
        font-size: 1.6em;
    }
    .backgorund .texts div #fourth {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 768px){
    .backgorund .texts #first {
        font-size: 2.7em;
    }
    .backgorund .texts #second {
        font-size: 3.5em;
    }
    .backgorund .texts div {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .backgorund .texts div #third {
        font-size: 1.5em;
    }
    .backgorund .texts div #fourth {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px){
    .backgorund {
        height: 100vh;
    }
    .backgorund .texts #first {
        font-size: 2em;
    }
    .backgorund .texts #second {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 330px){
    .backgorund .texts #first {
        font-size: 1.7em;
    }
    .backgorund .texts #second {
        font-size: 2.2em;
    }
    .backgorund .texts div #third {
        font-size: 1.2em;
    }
    .backgorund .texts div #fourth {
        font-size: 1.2em;
    }
}





.time {
    background: #0f0f0f; /*#007991 /// rgba(27,39,63,0.9)*/
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
}
.time li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
} 
.time li span {
    display: block;
    font-size: 4.6rem;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .time {
        height: 170px;
    }
    .time li {
        font-size: 1em;
    } 
    .time li span {
        font-size: 1.8rem;
    }
}





.about {
    width: 100%;
    height: 100vh;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.about #firstdiv {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.about #firstdiv #seconddiv {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
}

.about #firstdiv #seconddiv #titlesdiv {
    height: 120px;
}
.about #firstdiv #seconddiv #titlesdiv h1 {
    font-size: 3.3em;
    line-height: 4rem;
    font-weight: 900;
    /*color: #1b273d;*/
    color:#f9f9f9;
}
.about #firstdiv #seconddiv #titlesdiv h4 {
    font-size: 1.3em;
    line-height: 3rem;
    font-weight: bold;
    color: white/*#ec398b*/;
}
.about #firstdiv #seconddiv p {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 400;
    
    color:#f9f9f9;
    /*color: rgba(50,51,51,.8);*/
}

.about #firstdiv #seconddiv .btn-buy-about {
    color: white;
	background: #FD9E24/*rgba(236,57,139,1)*/;
	min-height: 70px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
	transition: 0.5s;
    cursor: pointer;
    outline: none;
    margin-top: 25px;
    font-weight: 550;
    font-size: 19px;
    box-shadow: 0 8px 5px -6px black;
    transition: .5s;
}
.about #firstdiv #seconddiv .btn-buy-about:hover  {
    border-radius: 15px;
    box-shadow: none;
}

@media screen and (max-width: 992px) {
    .about {
        justify-content: space-around;
        min-height: 400px;
        height: auto;
    }
    
    .about #firstdiv {
        width: 90%;
        justify-content: space-around;
    }
    
    .about #firstdiv #seconddiv {
        width: 100%;
        margin: 0;
    }
    
    .about #firstdiv #seconddiv #titlesdiv h1 {
        font-size: 2.7em;
    }
    .about #firstdiv #seconddiv #titlesdiv h4 {
        font-size: 1.3em;
    }
    .about #firstdiv #seconddiv p {
        font-size: 0.85rem;
        line-height: 1.5rem;
    }
    
    .about #firstdiv #seconddiv .btn-buy-about {
        margin-top: 15px;
        font-size:12px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        justify-content: space-around;
        min-height: 400px;
        height: 90vh;
    }
    .about #firstdiv {
        width: 96%;
        justify-content: space-around;
    }
    .about #firstdiv #seconddiv #titlesdiv {
        height: 40%;
    }
    .about #firstdiv #seconddiv #titlesdiv h1 {
        font-size: 2em;
        line-height: 2rem;
        text-align: center;
    }
    .about #firstdiv #seconddiv #titlesdiv h4 {
        font-size: 1.1em;
        line-height: 2rem;
        text-align: center;
    }
    .about #firstdiv #seconddiv p {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    
    .about #firstdiv #seconddiv .btn-buy-about {
        margin-top: 20px;
        font-size: 11px;
        font-weight: 400;
        height: 35px;
        width: 170px;
        font-weight: 600;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    .about #firstdiv #seconddiv p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        text-align: center;
    }
    .about #firstdiv #seconddiv .btn-buy-about {
        min-height: 60px;
    }
}





.speakers {
    background: #f1f1f1;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.speakers #cover {
    width: 95%;
    max-width: 1360px;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.speakers #cover #speakerstitle {
    margin-bottom: 50px;
}
.speakers #cover #speakerstitle h1{
    font-size: 3.3em;
    line-height: 4rem;
    font-weight: 900;
    color: #1b273d;
}
.speakers #cover #speakerstitle h3{
    font-size: 1.3em;
    line-height: 3rem;
    font-weight: 700;
    color: rgba(50,51,51,.8);
}

@media screen and (max-width: 768px) {
    .speakers #cover #speakerstitle h1{
        font-size: 2.7em;
        line-height: 3rem;
    }
    .speakers #cover #speakerstitle h3{
        font-size: 1.1em;
        line-height: 2rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .speakers #cover #speakerstitle h1{
        font-size: 2.5em;
    }
    .speakers #cover #speakerstitle h3{
        font-size: 1em;
        line-height: 1.2rem;
    }

}

.speakers #cover #cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.speakers #cover #cards .card {
    width: 22%;
    height: 290px;
    margin: 10px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 3px 5px rgba(50,51,51,.4);
    cursor: pointer;
    position: relative;
    display: flex;
}
.speakers #cover #cards .card .photo {
    width: 85%;
    height: 85%;
    margin: 7.5%;
    border-radius: 100%;
    position: absolute;
    transition: .2s;
    z-index: 3;
}
.speakers #cover #cards .card .speakerabout {
    width: 0%;
    height: 0%;
    border-radius: 15%;
    margin: 5%;
    background: rgba(0,121,145,0.8)/*rgba(89,81,180,0.8)*/;
    position: absolute;
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    z-index: 4;
}
.speakers #cover #cards .card .speakerabout .speakersocial {
    width: 90%;
    margin: 0 5%;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    opacity: 0;
    transition: 5s;
}
.speakers #cover #cards .card .speakerabout .speakersocial .iconsocial {
    margin: 0 5px;
}
.speakers #cover #cards .card .speakerabout .speakertext {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transition: 5s;
    opacity: 0;
}
.speakers #cover #cards .card .speakerabout .speakertext h1 {
    color: white/*#efa506*/;
    text-align: left;
}
.speakers #cover #cards .card .speakerabout .speakertext h4 {
    color: white;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    padding: 0;
}

.nameincard {
    position: absolute;
    bottom: 2px;
    left: 8px;
    z-index: 2;
}

@media screen and (max-width: 1300px) {
    .speakers #cover #cards .card {
        width: 45%;
        margin: 10px;
        height: 400px;
    }
}

@media screen and (max-width: 1050px) {
    .speakers #cover #cards .card {
        width: 45%;
        margin: 10px;
        height: 400px;
    }
}

@media screen and (max-width: 790px) {
    .speakers #cover {
        width: 95%;
    }
    .speakers #cover #cards .card {
        width: 80%;
        height: 450px;
    }
}

@media screen and (max-width: 500px) {
    .speakers #cover {
        width: 100%;
    }
    .speakers #cover #cards .card {
        height: 350px;
        width: 100%;
    }
}





.sponsors {
    width: 100%;
    height: auto;
    min-height: 75vh;
    background-image: url('../img/sponsors.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsors .sponsorscover {
    min-width: 100%;
    min-height: 75vh;
    height: 100%;
    background: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
}

.sponsors .sponsorscover .sponsorstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsors .sponsorscover .sponsorstitle h1{
    font-size: 3.3em;
    line-height: 7rem;
    font-weight: 900;
    color: black;
}
.sponsors .sponsorscover .sponsorstitle h3{
    font-size: 1.3em;
    line-height: 3rem;
    font-weight: 700;
    color: rgba(50,51,51,.8);
}

.sponsors .sponsorscover .sponsorslogo {
    width: 100%;
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    margin: auto;
}
.sponsors .sponsorscover .sponsorslogo .logos {
    height: 100px;
    width: 25%;
    margin: 0 20px;
    box-shadow: 0 4px 6px rgba(50,51,51,.4);
    background: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 15px;
}
.sponsors .sponsorscover .sponsorslogo .logos img {
    width: 50%;
    height: 90%;
    position: absolute;
}
.sponsors .sponsorscover .sponsorslogo .logos img {
    opacity: 1;
    filter: grayscale(1.0);
    transition: .5s;
}
.sponsors .sponsorscover .sponsorslogo .logos img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 768px) {
    .sponsors .sponsorscover .sponsorstitle h1{
        font-size: 2.7em;
        line-height: 3rem;
    }
    .sponsors .sponsorscover .sponsorstitle h3{
        font-size: 1.2em;
        line-height: 2.5rem;
    }
    .sponsors .sponsorscover .sponsorslogo .logos {
        height: 100px;
        width: 40%;
        margin: 20px 10px;
    }
}

@media screen and (max-width: 500px) {
    .sponsors .sponsorscover .sponsorstitle h1{
        font-size: 2.5em;
    }
    .sponsors .sponsorscover .sponsorstitle h3{
        font-size: 1em;
    }
    .sponsors .sponsorscover .sponsorslogo .logos {
        height: 100px;
        width: 70%;
        margin: 15px 5px;
    }
}





.buy {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url('../img/fundoingresso.jpg')/*#554CB9*/;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.buy .coverbuy {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.buy .buytext {
    height: 300px;
    width: 55%;
    color: white;
    font-weight: 750;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.buy .cardbuy {
    width: 35%;
    min-width: 300px;
    height: 500px;
    margin: 50px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(50,51,51,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #007991/*rgba(239,165,6,1)*/;
    color: white;
    transition: .5s;
}
.buy .cardbuy:hover {
    transform: scale(1.03);
    background: white;
    color: black;
}

.buy .cardbuy h2 {
    font-size: 3.3em;
    line-height: 3rem;
    font-weight: 900;
}
.buy .cardbuy h1 {
    font-size: 3.3em;
    line-height: 4rem;
    font-weight: 900;
}

.buy .cardbuy .btn-card-buy {
    color: black;
	background: #53DBD3/*rgba(236,57,139,1)*/;
	height: 50px;
	width: 150px;
	transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px rgba(50,51,51,.4);
    transition: .5s;
    outline: none;
    font-weight: 600;
}
.buy .cardbuy .btn-card-buy:hover {
    border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .buy .cardbuy {
        width: 60%;
        min-width: 300px;
        height: 500px;
        margin: 50px 20px;
        border-radius: 20px;
        box-shadow: 0 5px 5px rgba(50,51,51,.4);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        transition: .5s;
    }

    .buy .buytext {
        height: 230px;
        width: 80%;
        color: white;
        font-weight: 750;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}





/*.blog {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.blog .coverblog {
    width: 100%;
    max-width: 1360px;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.blog .coverblog .blogtitle h1 {
    font-size: 3.3em;
    line-height: 4rem;
    font-weight: 900;
    color: black;
    text-align: center;
}

.blog .coverblog .moreblogs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog .coverblog .moreblogs .cardblog {
    width: 25%;
    min-width: 300px;
    max-width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 5px rgba(50,51,51,.4);
    border-radius: 20px;
    margin: 10px;
    transition: .5s;
}
.blog .coverblog .moreblogs .cardblog:hover {
    transform: scale(1.03);
}
.blog .coverblog .moreblogs .cardblog .imgcard {
    width: 85%;
    height: 55%;
}
.blog .coverblog .moreblogs .cardblog .imgcard img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.blog .coverblog .moreblogs .cardblog h3 {
    width: 85%;
}
.blog .coverblog .moreblogs .cardblog a {
    color: purple;
    background: #d3d3d3;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
    box-shadow: 0 3px 5px rgba(50,51,51,.4);
}
.blog .coverblog .moreblogs .cardblog a:hover{
    border-radius: 15px;
    box-shadow: none;
}*/